.body {
    position: relative;
    padding-top: 550px;
    height: 100%;
    width: 99%;
    background-image: url('./images/s1200.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.body__end {
    background-color: black;
    width: 100%;
    height: 100;
    opacity: .1;
    z-index: 10;
}

.player {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 200px;
    height: 200px;
    background-image: url('./images/spaceship-3591503__480.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./images/coronavirus_PNG39.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bullet {
    position: absolute;
    right: 40%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: url('./images/bullet.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.boom {
    position: absolute;
    background-image: url('./images/boom.gif');
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hearts {
    position: absolute;
    top: 40px;
    right: 10%;
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: space-between;
}

.heart {
    height: 40px;
    width: 40px;
    background-image: url('./images/11-118778_red-and-black-heart.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game__over {
    position: absolute;
    font-size: 64px;
    font-weight: bold;
    top: 50%;
    left: 30%;
    display: block;
    color: rgb(102, 13, 13);
    z-index: 20;
    opacity: 0;
    display: none;
}

.game__over-active {
    display: block;
}