.body {
    position: relative;
    padding-top: 550px;
    height: 100%;
    width: 99%;
    background-image: url('./images/s1200.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 200px;
    height: 200px;
    background-image: url('./images/spaceship-3591503__480.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./images/coronavirus_PNG39.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bullet {
    position: absolute;
    right: 40%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: url('./images/bullet.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.boom {
    position: absolute;
    background-image: url('./images/boom.gif');
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}